{% extends "layouts/layout.twig" %}


{% block hero %}

    <h1 class="hero__title">
        {{ text("hero__title", "Your mind is a powerful thing. When you fill it with positive thoughts your life will begin to change") }}
{#        <span class="nobr">to change!</span>#}
    </h1>
    <p class="hero__text">
        So, choose your thoughts, focus and take action!
    </p>

{% endblock %}


{% block content %}

<main class="main container">
{#    <img style="max-width: 600px; border-radius: 10px;" src="/img/quote1.jpg" alt="">#}
{#    {{ img("test_img", "/img/quote1.jpg", "First quote", 'style="max-width: 600px; border-radius: 10px"') }}#}

    <div class="double-info-block">

        <section class="info-block">
            <!-- <div class="info-block__image" style="background-image: url('img/mission.jpg')"></div> -->
            <!-- <div class="info-block__overlay"></div> -->
            <div class="info-block__bg-color"></div>
            <div class="info-block__center-text">
                <h2 class="info-block__center-text__title">
                    {{ text("center-text__title", "Do what you love and love what you do") }}
                </h2>
                <a href="" class="button button--accent2 info-block__center-text__button">
                    {{ text("center-text__button", "Loopbaancoaching") }}
                </a>
            </div>
        </section>

        <section class="info-block">
            <!-- <div class="info-block__image" style="background-image: url('img/mission.jpg')"></div> -->
            <!-- <div class="info-block__overlay"></div> -->
            <div class="info-block__bg-color"></div>
            <div class="info-block__center-text">
                <h2 class="info-block__center-text__title">
                    {{ text("center-text__title", "Focus on perfectionism") }}
                </h2>
                <a href="" class="button button--accent2 info-block__center-text__button">
                    {{ text("center-text__button", "Perfectionisme") }}
                </a>
            </div>
        </section>

    </div>

{#    <img src="/img/orange.jpg" alt="">#}
    {{ img("testImage", "/img/orange.jpg", "") }}

    <section class="info-block info-block--free">
{#      style="background-image: url('/img/orange.jpg')"  #}
        <div class="info-block__image" {{ bgImg("ending_image", "/img/orange.jpg") }} ></div>

        <!-- <div class="info-block__overlay"></div> -->
        <div class="info-block__ending">
            <h2 class="info-block__ending__title">
                {{ text("ending__title", "Wil jij ook ontdekken hoe sterk perfectionisme jouw leven beheerst?", true) }}
            </h2>
            <p class="info-block__ending__text">
                {{
                    text(
                        "ending__text",
                        "
                Vraag dan vrijblijvend onze vragenlijst aan.
                Tijdens een kennismakingsgesprek bekijken we samen
                je noden en behoeften en schatten we in hoeveel sessies er nodig zijn.
                Schrijf je in voor een gratis telefonisch kennismakingsgesprek:
                        "
                    )
                }}
            </p>
            <a href="/about" class="button button--accent5-text info-block__ending__button">
                {{ text("ending__button", "Vragenlijst en telefonisch kennismakingsgesprek") }}
            </a>
            <div class="info-text info-block__ending__info">
                <div class="info-text__icon">
                    <img src="/img/info.svg" alt="">
                </div>
                <div class="info-text__text">
                    {{
                        text(
                            "ending__info",
                            "
                    Een gemiddeld traject duurt ongeveer 6 sessies van 1 tot 2 uur.
                    Ga je als particulier aan de slag met je perfectionisme patroon,
                    dan rekenen we 60 euro per uur. Ons zakelijk tarief is 90 euro excl. btw per uur."
                        )
                    }}
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock %}
